.container {
  width: 500px;
  margin: 0 auto;
}

/*   flex-direction: row | row-reverse | column | column-reverse; */

/*   flex-wrap: nowrap | wrap | wrap-reverse;
 */

/* flex-flow: <‘flex-direction’> || <‘flex-wrap’> */

/*   justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly; */

/*   align-items: flex-start | flex-end | center | baseline | stretch; */

/*   align-content: flex-start | flex-end | center | space-between | space-around | stretch; */

.container header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header .logo {
  width: 70px;
  height: auto;
  border-radius: 50%;
  align-self: flex-start;
}

.container nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.container nav a {
  text-decoration: none;
  margin: 5px 10px;
}

/*   order: <integer>;  default is 0 */

/*   align-self: auto | flex-start | flex-end | center | baseline | stretch; */


.container nav a.item1 {
  order: 0;
}

.container nav a.item2 {
  order: 0;
}

.container nav a.item3 {
  order: 0;
}

.container nav a.item4 {
  order: 0;
}

.columns {
  display: flex;
}

.columns p {
  margin: 10px;
}

/* Services page only! */

.services .main-content h1 {
  color: red;
}
